<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Upload</title>
  </head>
  <body>
    <h1>Upload a Video for Pose Detection</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
      <input type="file" name="video" accept="video/*" required />
      <input type="submit" value="Upload Video" />
      <br />
      <label for="player">Player</label>
      <select name="player" id="player">
        <option value="Booker">Booker</option>
        <!-- 추가 옵션들 -->
      </select>
    </form>
    <ul>
      {% for video in upload_video_name %}
      <li>{{ video }}</li>
      {% endfor %}
    </ul>
  </body>
  <script>
    document
      .getElementById("uploadForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const playerId = document.getElementById("player").value;
        const formAction = `/upload/${playerId}`;
        this.action = formAction;
        this.submit();
      });
  </script>
</html>
